<!DOCTYPE html>
<!--
Tawab Berri
The Duo-lingos - Tawab Berri, Jacob Lukose, Jack Blair
SoftDev
2024-10-15
K18 - Experimenting with css embedded in html files
time spent: 0.8 hrs
 -->
<link rel="stylesheet" href="static/mimic.css">
<html>
    <body>
        <h1>{{h1}}</h1>
        
        <h3>{{h3}}</br></h3>
        <h3 id = "ttt">{{ttt}}
            <br>{{tt}}
            <br>{{t}}
        </h3>
            
        <h2 class = "main">{{h2}}</h2>
        <p class = "main">{{p}}</p>
        </body>
        <footer>{{footer}}</footer>
</html>