<!DOCTYPE html>
<!-- 
  Clyde 'Thluffy' Sinclair
  SoftDev
  Sep 2024

     simple demo of HTML forms via Flask
     
     trioTASK:
     If any member of team has forms experience, let their know-how OSMOTE.
     If no one does, seek external assistance.
     
     PROTIP: Revisit code from foundations if you have it.
     Peruse this code together and discuss how it should work,
       in conjunction with the back end apparatus.
 -->


<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, {{user}}
    </h1>

    <br/>
    <div>
        <p>psst... it looks like you used the {{form}} request method</p>
        </br>
        <p>which is crazy, since GET is used to request data from the page, seen in the url, while
            POST is used to submit data in the background
        </p>
        </br>
        <p>at least, thats what</p>
        <h3>The Duolingos (Tawab Berri, Jacob Lukose, and Jack Blair)</h3>
        <p>think about it</p>
        
    </div>
    <br>
  </body>

</html>